*.log
*.aux
*#
*~
*.thm
*.gz
*.zip
*.prv/
*auto
.DS_STORE
*.pyc
/ORF522/matlab license.lic
*_region_.tex
*_flymake.py
prv_*
Fall/
*bbl
*blg
*pyg




/ORF523/hw1/ORF523_S16_HW1.pdf
/ORF527/Stochastic Calculus and Financial Applications.pdf
